	</body></html>body {
	    font-family: 'Roboto Slab', serif;
	    margin: 0;
	}

	h1 {
	    font-size: 30px;
	    color: darkcyan;
	}

	.blog {
	    color: rgb(192, 32, 32);
	}

	section {
	    display: flex;
	    margin-bottom: 100px;
	}

	.half-width {
	    width: 50%;
	    padding-left: 10%;
	}

	.half-width image {
	    width: 80%;
	}

	.link-button {
	    text-decoration: none;
	    background-color: tomato;
	    color: rgb(0, 53, 50);
	    font-weight: 700;
	    padding: 10px 20px;
	    border-radius: 5px;
	}

	.top-bannar {
	    background-image: url(images/top-banner.png);
	    background-repeat: no-repeat;
	}

	.dream-big {
	    background-image: url(images/dream-bg.png);
	}